$primary-lighter: #8B7AAE;
$primary-light: #655091;
$primary-color: #452F74;
$primary-dark: #2B1657;
$primary-darker: #16063A;

$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
