
$color-primary-0: #973253;	// Main Secondary color (1) */
$color-primary-1: #E297AF;
$color-primary-2: #BD5E7C;
$color-primary-3: #711331;
$color-primary-4: #4B0018;

$color-secondary-0: #4A2D73;	// Main Secondary color (2) */
$color-secondary-1: #8E79AD;
$color-secondary-2: #6A4E90;
$color-secondary-3: #301557;
$color-secondary-4: #1B053A;

$notMobile: "(min-width: 768px)";
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
