@import 'variables.scss';

.header {
    nav {
        a {
            margin-right: 8px;
            text-decoration: none;
            color: #FFF;

            &:hover {
                color: $primary-lighter;
            }

            &:last-child {
              margin-right: 0;
            }
        }
    }
}

.drawer {
  position: fixed;
  top: 0; bottom: 0; right: 0;
  z-index: 99;
  background-color: rgba(0,0,0, 0.7);

  aside {
    position: absolute;
    width: 200px;
    background-color: $primary-darker;
    transition: all 0.2s ease-in;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: #FFF;
    z-index: 100;

    a {
      text-decoration: none;
    }
  }
}